.spotItemContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 4%;
    padding-right: 4%;
    border-bottom: 1px #454545;
    margin-left: 5%;
    display: flex;

    img {
        width: 200px;
    }

    .info {
        width: 100%;
        margin-left: 20px;

        .name {
            font-size: 20px;
            font-weight: 600;
        }

        .address {
            margin-top: 4px;
            color: #4f4f4f;
        }

        .feature {
            margin-top: 4px;

        }

        .stats {
            margin-top: 20px;
            display: flex;
            align-items: center;

            .content {
                margin-right: 20px;
                display: flex;
                align-items: center;
                .number {
                    margin-left: 5px;
                }
            }
        }

        
        .ratings{
            margin-top: 20px;

            .content {
                .title{
                    font-size: 16px;
                    font-weight: 400;
                    color: #4f4f4f;
                }
                .number {
                    margin-left: 10px;
                    color: #4f4f4f;
                }
            }
        }
    }

    .right {
        margin-left: auto;
        margin-right: 4%;

        .like {
            .number {
                margin-left: 5px;
            }
        }

        .post {
            margin-top: 10px;

            .number {
                margin-left: 5px;
            }
        }
    }
}