.featureInfoContainer {
    margin-top: 40px;

    .header {
        font-size: 26px;
        font-weight: 600;
    }

    .featureCard {
        margin-top: 20px;
        display: flex;
        align-items: center;
        padding: 30px 20px;
        border-bottom: 1px solid #dadada;

        .icon {}

        .title {
            font-size: 20px;
            font-weight: 400;
            width: 20%;

        }

        .rating {
            margin-left: 40px;
            width: 5%;
            background-color: #efefef;
            padding: 5px 5px;

            .value {
                font-size: 24px;
                color: orange;
                text-align: center;


            }

        }

        .comment {
            font-size: 14px;
            font-weight: 350;
            margin-left: 40px;

            .value {
                width: 5%;
                font-size: 24px;
                background-color: #efefef;
                color: var(--blue);
                text-align: center;
                padding: 5px 5px;


            }

        }
    }
}

.featureInfoContainerMobile {
    margin-top: 40px;

    .header {
        font-size: 20px;
        font-weight: 600;
    }

    .title {
        margin-top: 30px;
        font-size: 14px;
        font-weight: 400;

    }

    .featureCard {
        margin-top: 20px;
        display: flex;
        align-items: center;
        padding: 30px 0px;
        border-bottom: 1px solid #dadada;

        .icon {}


        .rating {
            margin-left: 0px;
            width: 5%;
            background-color: #efefef;
            padding: 5px 5px;

            .value {
                font-size: 18px;
                color: orange;
                text-align: center;


            }

        }

        .comment {
            font-size: 14px;
            font-weight: 350;
            margin-left: 40px;

            .value {
                width: 5%;
                font-size: 18px;
                background-color: #efefef;
                color: var(--blue);
                text-align: center;
                padding: 5px 5px;


            }

        }
    }
}