.allRatingsContainer {
    width: 60%;
    margin-left: 20%;
    margin-top: 100px;

    .headerContainer {
        display: flex;
        align-items: center;
        .title {
            font-size: 28px;
            font-weight: 600;
        }
        .description{
            margin-left: 20px;
            .spot{

            }
            .info{

            }
        }
    }

    .ratingCard {
        background-color: white;
        border-radius: 20px;
        margin-top: 60px;
        margin-right: 20%;
        width: 100%;
        height: 100%;
        padding: 2% 2% 2% 2%;

        .header {
            .title {
                margin-top: 5px;
                font-size: 32px;
                font-weight: 600;
            }

            .address {
                margin-top: 10px;
                font-size: 20px;
                font-weight: 400;
                color: #787878;

            }
        }

        .segment {
            margin-top: 40px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e4e4e4;
            padding-bottom: 20px;

            .active {
                border-bottom: 1px solid var(--blue);
                color: var(--blue);

            }

            .placeInfo {}

            .rating {
                margin-left: 20px;
            }
        }

        .contentContainer {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 20px;

            .header {
                display: flex;
                align-items: center;

                .left {
                    .container {
                        display: flex;
                        align-items: center;

                        .image {}

                        .nameContainer {
                            margin-left: 20px;

                            .name {
                                font-size: 18px;
                                font-weight: 400;
                            }

                            .date {
                                font-size: 13px;
                                font-weight: 200;
                                color: #787878;
                            }
                        }
                    }

                }

                .right {
                    margin-left: auto;

                    .option {}
                }
            }

            .featureInfoContainer {
                width: 100%;
                margin-top: 40px;

                .header {
                    font-size: 24px;
                    font-weight: 600;
                }

                .featureCard {
                    width: 100%;

                    .title {
                        font-size: 18px;
                        font-weight: 500;

                    }

                    .value {
                        margin-left: 10px;
                    }

                    .comment {
                        margin-left: 40px;
                        font-size: 16px;
                        font-weight: 500;

                    }
                }

            }

            .text {
                margin-top: 40px;
                color: #484848;
            }


            .commentContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 40px;


                .buttonContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .other_rating {
                        margin-top: 20px;
                        border-radius: 8px;
                        padding: 6px 20px;
                        border: 2px solid var(--blue);
                        background-color: white;
                        color: var(--blue);
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}