.spotBasicInfoContainer {
    margin-top: 60px;

    .header {
        font-size: 28px;
        font-weight: 600;
    }

    .container {
        margin-top: 20px;
        display: flex;

        .left {
            .image {}

            .map {
                width: 100%;
                height: 100%;
            }
        }

        .right {
            width: 100%;
            margin-left: 40px;
            border-top: 1px solid #d6d6d6;

            .infoCard {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #d6d6d6;
                padding: 20px 0;

                .title {
                    font-size: 18px;
                    font-weight: 500;
                    width: 20%;
                }

                .text {
                    margin-left: 20px;
                    font-size: 14px;
                    font-weight: 400;

                }
            }
        }
    }
}

.spotBasicInfoContainerMobile{
    margin-top: 60px;

    .header {
        font-size: 22px;
        font-weight: 600;
    }

    .container {
        margin-top: 20px;

        .left {
            .image {}

            .map {
                width: 100%;
                height: 100%;
            }
        }

        .right {
            width: 100%;
            margin-left: 0px;
            margin-top: 10px;
            border-top: 1px solid #d6d6d6;

            .infoCard {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #d6d6d6;
                padding: 20px 0;

                .title {
                    font-size: 14px;
                    font-weight: 500;
                    width: 20%;
                }

                .text {
                    margin-left: 20px;
                    font-size: 12px;
                    font-weight: 400;

                }
            }
        }
    }
}