.ratingItemContainer {

  .rating {
    margin-top: 30px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    padding: 20px 40px;
    background-color: white;
    border-radius: 10px;

    .header {
      display: flex;
      align-items: center;

      .left {
        .container {
          display: flex;
          align-items: center;

          .image {}

          .nameContainer {
            margin-left: 20px;

            .name {
              font-size: 18px;
              font-weight: 400;
            }

            .date {
              font-size: 13px;
              font-weight: 200;
              color: #787878;
            }
          }
        }

      }

      .right {
        margin-left: auto;

        .option {}
      }
    }

    .content {
      padding: 20px 30px;
      font-size: 14px;
      font-weight: 400;

      .value {
        margin-left: 10px;
      }

    }

    .footer {
      display: flex;
      flex-direction: column;
      padding: 10px 30px;

      .infoContainer {
        display: flex;
        align-items: center;
        margin-top: 5px;

        .title {
          width: 200px;

        }

        .ratingValue {
          margin-left: 10px;
          color: red;
          font-weight: 600;
        }

        .ratingInfo {
          margin-left: 40px;
          color: #404040;
        }

      }


      .like {
        display: flex;
        align-items: center;

        .icon {}

        .number {
          margin-left: 5px;
        }
      }

      .comment {
        margin-left: 20px;
        display: flex;
        align-items: center;

        .icon {}

        .number {
          margin-left: 5px;
        }
      }
    }
  }

}

.ratingItemContainerMobile {


  .rating {
    margin-top: 30px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    padding: 20px 6px;

    .header {
      display: flex;
      align-items: center;

      .left {
        .container {
          display: flex;
          align-items: center;

          .image {}

          .nameContainer {
            margin-left: 20px;

            .name {
              font-size: 18px;
              font-weight: 400;
            }

            .date {
              font-size: 13px;
              font-weight: 200;
              color: #787878;
            }
          }
        }

      }

      .right {
        margin-left: auto;

        .option {}
      }
    }

    .content {
      padding: 20px 30px;
      font-size: 14px;
      font-weight: 400;

      .title{

      }
      .value{
        margin-left: 20px;
      }

    }

    .footer {
      display: flex;
      flex-direction: column;
      padding: 10px 30px;

      .infoContainer {
        display: flex;
        align-items: center;
        margin-top: 5px;

        .title {
          width: 200px;

        }

        .ratingValue {
          margin-left: 10px;
          color: red;
          font-weight: 600;
        }

        .ratingInfo {
          margin-left: 40px;
          color: #404040;
        }

      }


      .like {
        display: flex;
        align-items: center;

        .icon {}

        .number {
          margin-left: 5px;
        }
      }

      .comment {
        margin-left: 20px;
        display: flex;
        align-items: center;

        .icon {}

        .number {
          margin-left: 5px;
        }
      }
    }
  }

}
